<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-logged-in">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">
            <img src='static/img/logo.svg' id="navbar-logo" />
            <span>Timetable.io</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <%= page === 'timetable'? 'active' : '' %>" aria-current="page"
                        href="/timetable">Timetable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= page === 'configure'? 'active' : '' %>" href="/configure">Configure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= page === 'courses'? 'active' : '' %>" href="/courses-page">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= page === 'registered'? 'active' : '' %>"
                        href="/registered">Registered</a>
                </li>
            </ul>
            <div class="dropdown" id="user-profile-dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="user-drop-down-menu"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="profile-pic" src='static/img/test_profile.jpg' />
                    <div><%= user? user.first_name : 'John' %> <%= user? user.last_name : 'Doe' %></div>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-drop-down-menu">
                    <li><a class="dropdown-item" href="/editprofile">Edit profile</a></li>
                    <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>