<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">
            <img src='static/img/logo.svg' id="navbar-logo" />
            <span>Timetable.io</span>
        </a>
    </div>
</nav>