:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --bg-gray: rgb(246, 248, 250);
    --border-gray: #ced4da;
    --course-bg-gray: #eeeeee;
    
    --mauvelous: rgb(221, 151, 164);
    --verdigris: rgb(117, 185, 190);
    --juneBud: rgb(199, 214, 109);
    --blue-bell: rgba(163, 160, 190);
    --camel: rgba(188, 155, 108);
    --blue-green: rgba(135, 197, 176);
    --cornYellow: rgb(255, 235, 83);
    --orange: rgba(255, 190, 71);

    --mauvelous-faded: rgb(221, 151, 164, 0.6);
    --verdigris-faded: rgb(117, 185, 190, 0.6);
    --juneBud-faded: rgb(199, 214, 109, 0.6);
    --blue-bell-faded: rgba(163, 160, 190, 0.6);
    --camel-faded: rgba(188, 155, 108, 0.6);
    --blue-green-faded: rgba(135, 197, 176, 0.6);
    --cornYellow-faded: rgb(255, 235, 83, 0.7);
    --orange-faded: rgba(255, 190, 71, 0.6);
}