@import url('./colors.css');

.course-cards-container {
    min-height: 90px;
    min-width: 126.5px;
    border-radius: .25rem;
    display: inline-flex;
    flex-flow: row wrap;
    box-sizing: content-box;
    margin: 0 -.2rem;
}

.course-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 150px;
    position: relative;
    margin: .2rem .2rem;
}

/* custom background for each type of card */
.course-card.general {
    background-color: #198754;
}

.course-card.arts {
    background-color: var(--mauvelous);
}

.course-card.c-comm {
    background-color: var(--verdigris);
}

.course-card.e-comm {
    background-color: var(--juneBud);
}

.course-card.hlth {
    background-color: var(--blue-bell);
}

.course-card.h {
    background-color: var(--camel);
}

.course-card.qr {
    background-color: var(--blue-green);
}

.course-card.sat {
    background-color: var(--cornYellow);
}

.course-card.sa {
    background-color: var(--orange);
}

.course-card.arts.faded {
    background-color: var(--mauvelous-faded);
}

.course-card.c-comm.faded {
    background-color: var(--verdigris-faded);
}

.course-card.e-comm.faded {
    background-color: var(--juneBud-faded);
}

.course-card.hlth.faded {
    background-color: var(--blue-bell-faded);
}

.course-card.h.faded {
    background-color: var(--camel-faded);
}

.course-card.qr.faded {
    background-color: var(--blue-green-faded);
}

.course-card.sat.faded {
    background-color: var(--cornYellow-faded);
}

.course-card.sa.faded {
    background-color: var(--orange-faded);
}

/* course card components */
.course-card .card-title {
    font-size: .9rem;
    font-weight: 800;
}

.course-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    width: 100%;
}

.course-card .course-info {
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    border: none;
    background-color: #e0e0e0;
}

.course-card input:focus {
    background-color: white;
}

/* plus sign at the end of each list */
.course-card.plus-sign {
    border: none;
}

.course-card i.bi-plus-circle {
    font-size: 25px;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
    color: #AAAAAA;
}

.course-card i.bi-plus-circle:hover {
    color: black;
}

/* close btn on each card */
.course-card i.bi-x {
    border-radius: 50%;
    position: absolute;
    top: .3rem;
    right: .3rem;
    font-size: 18px;
    color: black;
    transition: background-color .15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-card i.bi-x:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 992px) {
    .course-cards-container {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .course-card {
        max-width: unset;
        width: 100%;
    }

    .course-card.plus-sign {
        width: 100%
    }

    .course-card .course-info {
        width: 100%;
        text-align: center;
    }
}