@import url('./colors.css');

#course-list-hero {
    padding: 0;
}

.course-toggle-btn {
    padding: 1.4rem 1.7rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 0;
    background-color: var(--course-bg-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0 0 0;
}

.course-toggle-btn.collapsed {
    border-radius: .25rem;
}

.course-code-title {
    flex-grow: 1;
}

.course-info > .card {
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #eeeeee;
    padding: 1rem 1.5rem;
}

.course-credit {
    flex-shrink: 0;
    margin-right: 3.6rem;
}

.course-star {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.5rem;
    display: flex;
    align-items: center;
    width: 28px;
}

.course-star > svg {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 1.5px;
}

.course-star > svg:hover {
    width: 28px;
    height: 28px;
    margin: 0;
}

.course-star path {
    fill: #898989;
    transition: fill .12s ease-in-out;
}

.course-star path.filled {
    fill: #f7cc1b;
}

/* Table CSS */

.table-title-row, .course-card-row {
    position: relative;
}

.table-title-row div:not(.row-background), .course-card-row div:not(.row-background) {
    z-index: 2;
}

.row-background {
    position: absolute;
    height: 100%;
    margin: 0 12px;
    background-color: #F8F9FA;
    width: calc(100% - 24px);
}

.table-title-row .row-background {
    border-bottom: 1px solid #444444;
}

.course-card-row:not(:last-child) .row-background {
    border-bottom: 1px solid #CCCCCC;
}

.table-title-row .table-item {
    overflow-wrap: normal;
    font-weight: 800;
}

.table-item {
    padding: .7rem 1rem;
}

@media (max-width: 992px) {
    .course-toggle-btn {
        padding: 1rem 1.5rem;
    }

    #course-list-hero {
        padding: 0;
    }

    .course-credit {
        margin-right: 2.5rem;
    }

    .row-background {
        margin: 0;
        width: 100%;
    }

    .table-title-row {
        display: none;
    }

    .course-card-row {
        background-color: transparent;
        text-align: center;
        margin: 1rem 0;
    }

    .course-card-row:not(:last-child) .row-background {
        border: none;
    }

    .table-item {
        padding: .4rem .5rem;
    }
}