@import url('colors.css');

@media (min-width: 992px) {
    .navbar {
        height: 65px;
    }

    #navbar-not-logged-in {
        padding: 0;
    }
}

#navbar-not-logged-in .navbar-collapse {
    flex-grow: unset;
}

#navbar-logged-in #profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#user-profile-dropdown {
    position: relative;
}

#navbar-logo {
    width: 40px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand span {
    margin: 0 10px;
    font-size: 24px;
}

#user-drop-down-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-drop-down-menu * {
    margin: 0 5px;
}

#user-profile-dropdown button {
    border: none;
    border-radius: 7px;
}