@import url('./imports/navbar.css');

#alert-container {
    font-size: 20px;    
}

#hero{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#update-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
    padding: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 15px;
}
#confirmLayer{
    display: flex;
    justify-content: center;
}
#confirmButton{
    width: 120px;
}