@import url('./imports/navbar.css');

.background-header{
    background-color: #454a4e;
    height: 350px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
    height: 100%;
}
.background-footer{
    background-color: #454a4e;
    height: 170px;
}
.title{
    font-size: 45px;
}
#headerContent{
    width: 75%;
}
.headerItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.headerItem{
    margin: 0px 8px 0px 8px;
}
#infoDivs{
    position: relative;
}
.infoDiv{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.image{
    width: 40%;
    border: 5px solid #454a4e;
    border-radius: 10px;
}
.infoRight{
    width: 50%;
    padding-top: 30px;
    padding-left: 30px;
}
.infoLeft{
    width: 50%;
    padding-top: 30px;
    padding-right: 30px;
}
.infoDiv h3{
    color: #0c6efb;
    margin-bottom: 30px;
}