@import url('./imports/navbar.css');
@import url('./imports/colors.css');

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

#logo {
    width: 70px;
    margin: 32px;
}

.login-form {
    width: 340px;
}

#login-form-body {
    background-color: var(--bg-gray);
    border: 1px solid var(--border-gray);
    border-radius: 6px;
    margin-top: 16px;
    padding: 16px;
}
#login-form-body form {
    width: 100%;
}

#login-form-body label {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-form-body label a {
    font-size: 12px;
}

#login-form-body input {
    margin: 5px 0 15px 0;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

#login-form-body input[type="submit"] {
    font-weight: 800;
}

#sign-up-box {
    border: 1px solid var(--border-gray);
    padding: 15px 20px;
    margin: 16px 0 10px 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 6px;
}

a {
    text-decoration: none;
}

#alert-container {
    font-size: 14px;    
}