.container{
    display:block;
    margin-top: 2%;
   
   }
   
   .header{
   display : block;
   height:70px;
   
   border-bottom-style:solid;
   
   
   }

   .little-header{

    
    background-color: rgb(182, 175, 175);

}

.button-area{
    padding: 5px;
    height: 50px;
    display:block;
}
   
.btn btn-secondary dropdown-toggle{
    padding: 5 px;
}

.btn-group dropright{
    display: flex;
}



.course-info-table{

    border:1px;
    width:100%;
}


.star-button{

    margin-left:70%;
}

