<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="static/css/index.css" rel="stylesheet" />
</head>

<body>
    <header>
        <%- include('../partials/navbar-not-logged-in'); %>
    </header>
    
    <div class="container-xxl">
        <h1>404 Error</h1>
    </div>
    <%- include('../partials/scripts'); %>
    <script src="static/js/index.js"></script>
</body>

</html>