<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link href="static/css/index.css" rel="stylesheet" />
</head>

<body>
    <header>
        <%- include('../partials/navbar-not-logged-in'); %>
    </header>
    <div class='background-header'>
        <div class="content container-xxl">
            <div class='title'>
                Timetable.io Made Easy
            </div>
            <div id='headerContent'>
                It's time to say goodbye to your paper planner. Timetable.io is everything your paper planner is
                and more. Structure your plan, make your own timetable, register courses simulator? Timetable.io has
                it covered on all of your devices.
            </div>
            <div class='headerItems'>
                <div class='headerItems'>
                    <div class="headerItem">
                        <i class="bi bi-calendar-check"></i>
                        Mobile-Responsive
                    </div>
                    <div class="headerItem">
                        <i class="bi bi-calendar-check"></i>
                        Free
                    </div>
                </div>
                <div class='headerItems'>
                    <div class="headerItem">
                        <i class="bi bi-calendar-check"></i>
                        Personalized plan
                    </div>
                    <div class="headerItem">
                        <i class="bi bi-calendar-check"></i>
                        Course scheduling
                    </div>
                </div>
            </div>
            <div>
                <a type="button" class="btn btn-primary" href="/signup">GET STARTED</a>
            </div>
        </div>
        <div>
            <div class="container-xxl">
                <div class="infoDiv">
                    <img class='image' data-aos="fade-right" src='../../static/img/Courselist.png' />
                    <div class='infoRight'>
                        <div>
                            <h3>Search Effectively</h3>
                        </div>
                        <div>
                            <h1>Add courses to favourites</h1>
                        </div>
                        <div>
                            <p>
                                Filter courses by Schools, Subjects and Common Core Courses on the platform to easily search
                                certain of courses. Add courses to favourites to easily preview when making timetable.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="infoDiv">
                    <div class='infoLeft'>
                        <div>
                            <h3>Personalized timetable</h3>
                        </div>
                        <div>
                            <h1>Config course scheduling</h1>
                        </div>
                        <div>
                            <p>
                                Generate new timetable by setting maximum credit, courses, common-core courses you what to
                                take. Setting courses priority and private time are also available.
                            </p>
                        </div>
                    </div>
                    <img class='image' data-aos="fade-left" src='../../static/img/Config.png' />
                </div>
                <div class="infoDiv">
                    <img class='image' data-aos="fade-right" src='../../static/img/Timetable.png' />
                    <div class='infoRight'>
                        <div>
                            <h3>User-friendly platform</h3>
                        </div>
                        <div>
                            <h1>Manage your timetables</h1>
                        </div>
                        <div>
                            <p>
                                Create multiple timetables is available. Edit timetable by adding(deleting) course sessions.
                                Save your timetable(s) for further planning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='background-footer'>
            <div class="content container-xxl">
                <div>
                    <h2>Start to make your timetable now</h2>
                </div>
                <div>
                    <a type="button" class="btn btn-primary" href="/signup">GET STARTED</a>
                </div>
                <div>
                    All Rights Reserved
                    <i class="bi bi-calendar-check"></i>
                    Timetable.io
                </div>
            </div>
        </div>
        <%- include('../partials/scripts'); %>
            <script src="static/js/index.js"></script>
</body>

</html>