<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link href="static/css/login.css" rel="stylesheet" />
</head>

<body>
    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <div class="container-xxl" id="hero">
        <a href="/" tabindex="-1"><img id="logo" src="static/img/logo.svg" /></a>
        <div class="login-form" id="login-form">
            <h1>Login to Timetable.io</h1>
            <div id="login-form-body">
                <form action="/login" method='POST' id="login-form">
                    <label for="email" class="form-group">
                        Email address
                    </label>
                    <input type="email" name="username" id="username" class="form-control" autocomplete="username" autofocus />
                    <label for="password" class="form-group">
                        Password
                        <a href="#" tabindex="-1">Forgot password?</a>
                    </label>
                    <input type="password" name="password" id="password" class="form-control" />
                    <div>
                        <input type='submit' value="Sign in" class="btn btn-success" autocomplete="current-password" />
                    </div>
                </form>
                <div id="alert-container">
                </div>
            </div>
        </div>
        <div class="login-form" id="sign-up-box">
            New to Timetable.io? <a href='/signup'>Create an account.</a>
        </div>
    </div>

    <%- include('../partials/scripts'); %>
    <script src="static/js/login.js"></script>
</body>

</html>