<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
        <link href="static/css/configure.css" rel="stylesheet" />
</head>

<body>
    <header>
        <%- include('../partials/navbar-logged-in'); %>
    </header>

    <div class="modal fade" id="add-course-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Choose a course / common core area</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Search a course:</h6>
                    <form id="search">
                        <input type="text" name="course" class="form-control" placeholder="Search courses">
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <h6>Favourite courses:</h6>
                    <div class="badge-container" id="fav-area">
                    </div>
                    <h6>Common core areas:</h6>
                    <div class="badge-container" id="cc-area">
                        <button class="btn modal-badge arts no-select" cc-area="arts" card-type="commonCore" data-bs-dismiss="modal" aria-label="Close">
                            Arts
                        </button>
                        <button class="btn modal-badge c-comm no-select" cc-area="c-comm" card-type="commonCore" data-bs-dismiss="modal" aria-label="Close">
                            Chinese communication
                        </button>
                        <button class="btn modal-badge e-comm no-select" cc-area="e-comm" card-type="commonCore" data-bs-dismiss="modal" aria-label="Close">
                            English communication
                        </button>
                        <button class="btn modal-badge hlth no-select" cc-area="hlth" card-type="commonCore" data-bs-dismiss="modal" aria-label="Close">
                            Healthy Lifestyle
                        </button>
                        <button class="btn modal-badge h no-select" cc-area="h" card-type="commonCore" data-bs-dismiss="modal" aria-label="Close">
                            Humanities
                        </button>
                        <button class="btn modal-badge qr no-select" cc-area="qr" card-type="commonCore" data-bs-dismiss="modal" aria-label="Close">
                            Quantitative Reasoning
                        </button>
                        <button class="btn modal-badge sat no-select" cc-area="sat" card-type="commonCore" data-bs-dismiss="modal" aria-label="Close">
                            Science and Technology
                        </button>
                        <button class="btn modal-badge sa no-select" cc-area="sa" card-type="commonCore" data-bs-dismiss="modal" aria-label="Close">
                            Social Analysis
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="refine-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Choose a course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Select a course:</h6>
                        <div class="dropdown">
                            <button id="cc-btn" class="btn dropdown-toggle"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <text>Select a course</text>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="cc-btn">
                            </ul>
                        </div>
                    <h6>Favourite courses:</h6>
                    <div class="badge-container" id="fav-area">
                        <div class="modal-badge general no-select" data-bs-dismiss="modal" aria-label="Close">
                            MATH 1851
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl">
        <h1>Configure your timetable</h1>

        <section class="section-hero" data-aos="fade-right">
            <div class="section-content-hero">
                <h2 class="section-title">Credits</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <p class="section-content-description">How many credits are you taking this semester?</p>
                    </div>
                    <div class="col-lg-8">
                        <input id="credits" class="form-control" name="credits" placeholder="Enter credits"
                            type="number" min="0" />
                    </div>
                </div>
            </div>
        </section>

        <section class="section-hero" id="structure-section-hero" data-aos="fade-right">
            <div class="section-content-hero">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class="section-title">Structure your plan</h2>
                        <p class="section-content-description">Which courses will you take this semester?</p>
                    </div>
                    <div class="col-lg-8">
                        <div class="course-cards-container">
                            <div class="card course-card plus-sign">
                                <i class="bi bi-plus-circle"></i>
                            </div>
                        </div>

                        <!-- <div class="alert-msg">Not enough credits in your plan.</div> -->
                    </div>
                </div>
            </div>
        </section>

        <section class="section-hero" id="refine-section-hero" data-aos="fade-right">
            <div class="section-content-hero">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class="section-title">Refine your plan</h2>
                        <p class="section-content-description">Set priorities for your common cores</p>
                        <!-- <p class="section-content-description">We will choose a course for you if priority is unset.</p> -->
                    </div>
                    <div class="col-lg-8">
                    </div>
                </div>
            </div>
        </section>

        <section class="section-hero" id="time-off-hero" data-aos="fade-right">
            <div class="section-content-hero">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class="section-title">Your private time</h2>
                        <p class="section-content-description">When will you have your time-off?</p>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-sm-12 col-lg-10 mt-4 mb-2 d-flex justify-content-center align-item-center">
                                <i class="bi bi-plus-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section-hero" id="submit-hero">
            <button class="btn btn-primary" id="generateBtn">Generate timetable</button>
            <button class="btn btn-secondary" id="resetBtn">Reset</button>
        </section>
        <div class="toast-container position-fixed bottom-0 start-0 p-3">
            <div id="toastNoResult" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bi bi-exclamation-triangle rounded me-2"></i>
                    <strong class="me-auto">Reminder</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    No result for current setting
                </div>
            </div>
            <div id="toastResult" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bi bi-exclamation-triangle rounded me-2"></i>
                    <strong class="me-auto">Reminder</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                </div>
            </div>
        </div>
        <%- include('../partials/scripts'); %>
            <script type="module" src="static/js/configure.js"></script>
</body>

</html>