<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <link href="static/css/registered.css" rel="stylesheet" />
</head>

<body>
    <header>
        <%- include('../partials/navbar-logged-in'); %>
    </header>

    <div class="container-xxl">
        <h1>
            <%= page[0].toUpperCase() + page.slice(1) %> courses
        </h1>
        <div id='reminder'>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
            </div>
            <div>
                <h3>We are working on it! Please look forward for future update.</h3>
            </div>
        </div>
        <div>
            <h3>Template:</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Course
                        </th>
                        <th>
                            Session
                        </th>
                        <th>
                            Weekday
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Room
                        </th>
                        <th>
                            Instructor
                        </th>
                     </tr>   
    
                </thead>
                <tbody>
                    <tr>
                        <td>
                            HUMA 2017
                        </td>
                        <td>
                            Lecture 1
                        </td>
                        <td>
                            Mon, Wed, Fri
                        </td>
                        <td>
                            02:00pm-04:50pm
                        </td>
                        <td>
                            Rm 1032. LSK Bldg(45)
                        </td>
                        <td>
                            CHAN, Dennis Suk Sun
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            ACCT 5650
                        </td>
                        <td>
                            Lecture 1
                        </td>
                        <td>
                            Th                        
                        </td>
                        <td>
                            09:30AM - 12:50PM
                        </td>
                        <td>
                            G001, LSK Bldg (70)
                        </td>
                        <td>
                            CHAN, Dennis Suk Sun
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            MARK 2120
                        </td>
                        <td>
                            Lecture 1
                        </td>
                        <td>
                            Mon, Wed, Fri
                        </td>
                        <td>
                            09:00AM - 11:50AM
                        </td>
                        <td>
                            G003, LSK Bldg (70)
                        </td>
                        <td>
                            PUIG GARRIGO, Coral
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>

    <%- include('../partials/scripts'); %>
        <script src="static/js/registered.js"></script>
</body>

</html>