<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
        <link href="static/css/timetable.css" rel="stylesheet" />
</head>

<body>
    <header>
        <%- include('../partials/navbar-logged-in'); %>
    </header>
    <div class="container-xxl">
        <h1>
            <%= page[0].toUpperCase() + page.slice(1) %>
        </h1>
        <ul id="button-list" class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Saved courses</a>
                <ul id="selected" class="dropdown-menu">
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Favourite courses</a>
                <ul id="starred" class="dropdown-menu">
                </ul>
            </li>
            <div id='info'>
            </div>
            <!-- <form id="search">
                <input type="text" name="course" class="form-control" placeholder="Search courses">
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form> -->
        </ul>
        <div class="tableHeader">
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a id="title" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false"></a>
                    <ul id="retrieve" class="dropdown-menu">
                    </ul>
                </li>
            </ul>
            <div>
                <!-- <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Dismissible popover" data-bs-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a> -->
                <button id="save" type="button" class="btn btn-primary timetableButton">Save</button>
                <button id="delete" type="button" class="btn btn-primary timetableButton">Delete</button>
            </div>
        </div>
        <div class="timetable" data-aos="fade-down">
            <div class="week-names">
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
                <div>Sun</div>
            </div>
            <div class="time-interval">
                <div>08:00</div>
                <div>08:30</div>
                <div>09:00</div>
                <div>09:30</div>
                <div>10:00</div>
                <div>10:30</div>
                <div>11:00</div>
                <div>11:30</div>
                <div>12:00</div>
                <div>12:30</div>
                <div>13:00</div>
                <div>13:30</div>
                <div>14:00</div>
                <div>14:30</div>
                <div>15:00</div>
                <div>15:30</div>
                <div>16:00</div>
                <div>16:30</div>
                <div>17:00</div>
                <div>17:30</div>
                <div>18:00</div>
                <div>18:30</div>
                <div>19:00</div>
                <div>19:30</div>
                <div>20:00</div>
                <div>20:30</div>
                <div>21:00</div>
                <div>21:30</div>
                <div>22:00</div>
                <div>22:30</div>
                <div>23:00</div>
            </div>
            <div class="content">
                <!--0800-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--0830-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--0900-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--0930-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1000-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1030-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1100-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1130-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1200-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1230-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1300-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1330-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1400-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1430-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1500-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1530-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1600-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1630-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1700-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1730-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1800-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1830-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1900-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--1930-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--2000-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--2030-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--2100-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--2130-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--2200-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--2230-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <!--2300-->
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
                <div class="timeslot"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delAlert" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm to DELETE?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Delete current Timetable cannot be rolled back
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button id="delConfirm" type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastUnsave" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-exclamation-triangle rounded me-2"></i>
                <strong class="me-auto">Warning</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Current timetable is not saved
            </div>
        </div>
        <div id="toastSave" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-save2 rounded me-2"></i>
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Current timetable is successfully saved
            </div>
        </div>
        <div id="toastCreateSave" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-table rounded me-2"></i>
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Current timetable is successfully saved as Timetable#1
            </div>
        </div>
        <div id="toastCreate" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-table rounded me-2"></i>
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Timetable is successfully created
            </div>
        </div>
        <div id="toastDelete" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-trash rounded me-2"></i>
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Timetable is successfully deleted
            </div>
        </div>
        <div id="toastDeleteError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-file-earmark rounded me-2"></i>
                <strong class="me-auto">Reminder</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                No timetable is created
            </div>
        </div>
        <div id="toastAddError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-bag-x me-2"></i>
                <strong class="me-auto">No changes have been made</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
        <div id="toastAdd" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-bag-check me-2"></i>
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Session(s) is(are) successfully added
            </div>
        </div>
        <div id="toastRemove" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-bag-dash me-2"></i>
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Session(s) is(are) successfully removed
            </div>
        </div>
    </div>
    <%- include('../partials/scripts'); %>
        <script type="module" src="static/js/timetable.js"></script>
</body>

</html>